@import "tailwindcss";

@theme {
  --color-primary: #333;
  --color-secondary: #555;
  --color-destructive: #e7000b;
  --color-bg-primary: #f8f8f8;
  --color-button: #f2f2f2;
}

html {
  overflow-y: scroll;
}

@layer utilities {
  .grid-responsive {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6;
  }
}
